{{#extends "base"}}

{{#block "header"}}
<h1>Contact Us</h1>
{{/block}}

{{#block "main-content"}}
    <form>
        <label>Email:</label>
        <input type="text"/>
    </form>
{{/block}}

{{/extends}}