{{#extends "base"}}

{{#block "header"}}
 <h1>Home Page</h1>
{{/block}}

{{#block "main-content"}}

        <section>
            <img src="images/database.webp"/>
          Home page content
        </section>

{{/block}}

{{/extends}}